.container{
    width:980px;
}

.homepage .container {
    padding-top:22px;
    padding-bottom:50px;
    padding-left:30px;
}

#content {
    background: rgba(51,56,75,1) url(/img/hero-main2.jpg) 450px 10px no-repeat;
    padding: 100px 20px;
}

#mainbody {
    margin-top: 60px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: rgba(23, 31, 39, 0.95);
    border: 0 none;
    box-shadow: none !important;
}

.navbar-nav > li > .dropdown-menu {
    background: rgba(23, 31, 39, 0.95);
    border: 0 none;
    box-shadow: none !important;
    color: white;
}

.nav {
    margin-top:10px;
}

header {
    background-size: cover;
    box-sizing: border-box;
}

#brand {
    height: 66px;
    width: 183px;
    padding: 20px 18px 20px 1px;
    display: block;
    background: url(../img/logo.png) 0 18px no-repeat;
    background-size: auto 50px;
}

.centered {
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    max-width: 420px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.homepage .container h2 {
    color: #fff;
    font-size: 22px;
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
}

.btn.btn-green {
    background: #6DB81C;
    color: #fff;
}

.btn.btn-conf {
    border-radius: 50px;
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 28px 13px 28px;
}

.bs-footer {
    background: #232a32;
    padding-top: 30px;
    clear: both;
    display: block;
}

.bs-footer .copyright {
        border-top: 1px solid #313a44;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 25px;
    }

.footer-brand {
    padding-left: 0;
    height: 40px;
}

.footer-legal {
    color: #727880;
    font-size: 13px;
    line-height: 20px;
}

.bs-footer .col-lg-2 {
    width: 20%;
    padding-left: 0;
}

.footer-links h4 {
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
}

.footer-links {
    margin: 20px 0 10px;
}

.footer-links {
    margin: 10px 0;
    padding-left: 0;
}


.homepage .btn-primary {
    color: #fff !important;
    font-size: 13px;
    font-weight: 600 !important;
    text-shadow: 0;
    line-height: 13px !important;
    background: #fd7d30;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 6px 1px rgba(244, 128, 32, 0) !important;
    -webkit-box-shadow: 0 0 6px 1px rgba(244, 128, 32, 0) !important;
    border-radius: 20px;
    padding: 12px 20px;
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #f36526;
    background-image: -webkit-linear-gradient(top, #fd8632, #fd7632);
    background-image: linear-gradient(to bottom, #fd8632, #fd7632);
}

.homepage .btn-sign-up {
    font-size: 14px;
    line-height: 14px !important;
    padding: 11px 53px;
    border-radius: 35px;
    margin-top: 20px;
}

.dropdown-menu > li > a {
    color: white;
}