.container {
    width: 980px;
}

#mainbody {
        margin-top: 100px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: rgba(23, 31, 39, 0.95);
    border: 0 none;
    box-shadow: none !important;
}

.navbar-nav > li > .dropdown-menu {
    background: rgba(23, 31, 39, 0.95);
    border: 0 none;
    box-shadow: none !important;
    color:white
}

header {
    background: linear-gradient(rgba(94,94,94,.5),rgba(94,94,94,.5)),url(/img/header2.jpg) no-repeat center top;
    padding-top: 250px;
    background-position: center center;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    box-sizing: border-box;
}

#brand {
  height: 66px;
  width: 183px;
  padding: 20px 18px 20px 1px;
  display: block;
  background: url(../img/logo.png) 0 18px no-repeat;
  background-size: auto 50px;
}

.centered {
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 600;
}

header h2 {
    color: #fff;
    font-size: 30px;
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
}

.btn.btn-green {
    background: #6DB81C;
    color: #fff;
}

.btn.btn-conf {
    border-radius: 50px;
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 28px 13px 28px;
}

.bs-footer {
    background: #232a32;
    padding-top: 30px;
    clear: both;
    display: block;
}

    .bs-footer .copyright {
        border-top: 1px solid #313a44;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 25px;
    }

.footer-brand {
    padding-left: 0;
    height: 40px;
}

.footer-legal {
    color: #727880;
    font-size: 13px;
    line-height: 20px;
}

.bs-footer .col-lg-2 {
    width: 20%;
    padding-left: 0;
}

.footer-links h4 {
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
}

.footer-links {
    margin: 20px 0 10px;
}

.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
