@{
    ViewBag.Title = "Product Information";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
    <title>首页</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        /*body {
            background-color: #F1F1F1;
        }*/
    </style>
</head>
<body>
    <div class="text-center">
        <h2>This is a new MVC web site!</h2>
        <h3>Add a new product</h3>
        <div class="btn btn-success">
            @Html.ActionLink("Add A Product!", "AddMVProductForm")
        </div>
    </div>
</body>
</html>
