@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting Heihei
        <p>This is a new MVC web site!</p>
        <p>Add a new product</p>
        @Html.ActionLink("Add", "AddMVProductForm");
    </div>
</body>
</html>
