@{
    ViewBag.Title = "Autodecco 数据管理平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 centered">
                <h1>Autodecco 数据管理平台</h1>
                <h2>让设计无处不在</h2>
                <a class="btn btn-conf btn-green" href="https://github.com/cachethq/cachet" target="_blank" rel="github"><i class='ion-social-github'></i> View on GitHub</a>
                <a class="btn btn-conf btn-clear" href="https://demo.cachethq.io" target="_blank" rel="demo">See the demo</a>
            </div>
        </div>
    </div>
</header>

