<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuoteExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuoteExport.Properties.Settings>
            <setting name="FTPServer" serializeAs="String">
                <value>ftp://www.pauchie.com.cn</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>push</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>pauchie</value>
            </setting>
        </QuoteExport.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.pauchie.com.cn:81/pauchie/Furnit/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="Push.WebServiceSoap" name="WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>