<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuoteExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuoteExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuoteExport.Properties.Settings>
            <setting name="FTPServer" serializeAs="String">
                <value>ftp://c1993319.oicp.net</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>p2admin</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>311@ftp.com</value>
            </setting>
        </QuoteExport.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <QuoteExport.Properties.Settings>
            <setting name="QuoteExport_Pauchie_PauchieWebServiceService"
                serializeAs="String">
                <value>http://c1993319.oicp.net:8000/soap/PAUCHIEWEBSERVICE</value>
            </setting>
        </QuoteExport.Properties.Settings>
    </applicationSettings>
</configuration>